# External
node_modules

# Generated
*.css.d.ts
*.sass.d.ts
*.scss.d.ts

# Runtime
pids
*.pid
*.seed

# DevTool extensions
resources/devtool-extensions/**/*[!.gitkeep]

# Build
release/app/dist
release/build
dll

# Logs
logs
*.log
npm-debug.log.*