# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env
.env.test

# FuseBox cache
.fusebox/

# Webpack
.webpack/

# Electron-Forge
out/

# react-router generated types
src/renderer/.react-router/

desktop.ini