# Build output
.webpack/

# Build cache
.webpack_cache/

# Dependency directories
node_modules/

# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env
.env.test

# FuseBox cache
.fusebox/


# Electron-Forge
out/

desktop.ini