.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100%;
}

.convert-rows {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.select-image {
  display: flex;
  justify-content: center;
  gap: 1;
  margin-bottom: 20px;

  label {
    margin: 5px 5px;

    font-size: 24px;
    color: #999999;
    text-align: center;
    font-family: "Roboto";
    font-weight: 300;
  }
}

.image-display-frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(153, 153, 153);
  border-radius: 5px;

  .no-image-selected {
    color: #c0c0c0;
    font-size: 12px;
    font-family: "Nunito";
    font-weight: 100;
  }
}

.image {
  object-fit: contain;
  scale: 0.2;
}
