.button {
  font-family: "Nunito";
  font-size: 24px;
  text-transform: uppercase;

  &:disabled {
    opacity: 0.5;
  }

  &:focus {
    outline: none;
  }

  &:hover:not(:disabled) {
    cursor: pointer;
  }
}

.normal {
  font-size: 18px;
  width: 125px;
  height: 33px;
}

.small {
  font-size: 14px;
  width: 90px;
  height: 30px;
}

$primary: darken(rgb(224, 146, 0), 10%);
$primary-hover: #da7800;

.primary {
  background-color: $primary;
  border: 1px solid $primary;
  border-radius: 8px;
  color: white;
  font-family: "Roboto";
  font-weight: 100;

  &:hover:not(:disabled) {
    background-color: $primary-hover;
    border: 1px solid $primary-hover;
    transition: background-color 0.2s ease-in-out;
  }
}

$secondary: #3887ff;

.secondary {
  background-color: transparent;
  border: 1px solid $secondary;
  border-radius: 8px;
  color: $secondary;
  font-family: "Roboto";
  font-weight: 200;

  &:hover {
    border: 1px solid lighten($secondary, 10%);
    transition: border 0.2s ease-in-out;
  }
}
